// Colors
$color-purpule: #2b2e53;
$color-purple-blue:#214cf2;
$color-purple-gray: #575a79;
$color-purple-light-gray: #c2c2d1;
$color-lumia-green:#30ff73;
$color-white: #ffffff;
$color-grass-green: #5fb53a;
$color-grey: #565656;
$color-black: #000000;

// Screen size
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1440px;